<div class="popUp">
    <h1 mat-dialog-title>{{ titre }}</h1>
    <mat-dialog-content>
        {{ message }}
        <div class="noUpgrade">
            {{ msgNoUpgrade }}
        </div>
        <div *ngFor="let upgrade of upgrades">
            <mat-card class="upgrade" *ngIf="!upgrade.unlocked">
                <div *ngIf="server">
                    <img [attr.src]="server + upgrade.logo" class="round"/>
                </div>
                <div>
                    <mat-card-content class="layout">
                        <div class="name">
                            {{ upgrade.name }}
                        </div>
                        <div>
                            {{ upgrade.idcible != 0 ? world.products[upgrade.idcible - 1].name : 'Tous les produits' }}
                        </div>
                        <br />
                        <mat-divider></mat-divider>
                        <br />
                        <div>
                            {{ upgrade.seuil | number }} {{ type == 'ANGE' ? upgrade.seuil <= 1 ? 'ange' : 'anges' : '€' }}
                        </div>
                        <br />
                        <div>
                            {{ upgrade.typeratio }} x {{ upgrade.ratio | number}}
                        </div>
                    </mat-card-content>
                </div>
                <mat-card-actions align="start">
                    <button mat-fab extended (click)="buyUpgrade(upgrade)"
                        [disabled]="type == 'ANGE' ? world.activeangels < upgrade.seuil : world.money < upgrade.seuil">
                        <mat-icon>add_shopping_cart</mat-icon>
                        Acheter
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Fermer</button>
    </mat-dialog-actions>
</div>