<div class="popUp">
    <h1 mat-dialog-title>Cash Upgrades</h1>
    <mat-dialog-content>
        Il faut dépenser de l'argent pour gagner de l'argent ! Achetez ces mises à niveau de qualité supérieure pour donner un coup de pouce à vos entreprises.
        <div class="noUpgrade">
            {{ msgNoUpgrade }}
        </div>
        <div *ngFor="let upgrade of world.upgrades">
            <mat-card class="upgrade" *ngIf="!upgrade.unlocked">
                <div *ngIf="server">
                    <img [attr.src]="server + upgrade.logo" class="round"/>
                </div>
                <div>
                    <mat-card-content class="layout">
                        <div class="name">
                            {{ upgrade.name }}
                        </div>
                        <div>
                            {{ world.products[upgrade.idcible - 1].name }}
                        </div>
                        <br />
                        <mat-divider></mat-divider>
                        <br />
                        <div>
                            {{ upgrade.seuil | number}}
                        </div>
                        <br />
                        <div>
                            {{ upgrade.typeratio }} x {{ upgrade.ratio | number}}
                        </div>
                    </mat-card-content>
                </div>
                <mat-card-actions align="start">
                    <button mat-fab extended (click)="buyUpgrade(upgrade)"
                        [disabled]="world.money < upgrade.seuil">
                        <mat-icon>add_shopping_cart</mat-icon>
                        Acheter
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Fermer</button>
    </mat-dialog-actions>
</div>