.header {
    align-items: center;
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
}

.logo {
    text-align: center;
}

.logoName{
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.7);
    border-radius: 20px;
    display: inline;
    font-family: 'Rajdhani', 'sans-serif';
    font-size: medium;
    font-weight: 700;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-backdrop-filter: blur(15px);
}

.money span{
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.7);
    border: 2px solid #003B6F;
    border-radius: 30px;
    display: inline;
    font-family: 'Rajdhani', 'sans-serif';
    font-size: x-large;
    font-weight: 700;
    padding: 15px;
    -webkit-backdrop-filter: blur(15px);
}

.main {
    display: grid;
    grid-template-columns: 20% 80%;
}

.buttons {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.buttons div {
    display: inline-flex;
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.buttons input {
    height: 100px;
}

.mat-badge{
    background: #003B6F;
    bottom: 110px;
    color: #FFFFFF;
}

.product {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 0.3fr);
}

mat-card{
    display: inline-block;
}