<div *ngIf="server">
  <div class="header">
    <div class="logo">
      <div>
        <img [attr.src]="server + world.logo" class="round"/>
      </div>
      <!--<div>
        <div class="logoName">{{ world.name }}</div>
      </div>-->
    </div>
    <div class="money">
      <span [innerHTML]="world.money | bigvalue"></span>
    </div>
    <div>
      <button mat-fab extended (click)="changeMultiplicateur()">
        <mat-icon>clear icon</mat-icon>
        Acheter<br />{{ qtmulti }}
      </button>
    </div>
    <div>
      <mat-form-field>
        <mat-label>ID du joueur</mat-label>
        <input matInput [(ngModel)]="username" (ngModelChange)="onUsernameChanged()" placeholder="Saisissez votre ID">
      </mat-form-field>
    </div>
  </div>
  <div class="main">
    <div class="buttons">
      <div class="carte">
        <input type="image" class="imageCarte" [attr.src]="server + 'icones/carte.png'" (click)="popUpUnlocks()"/>
        <div class="nomCarte unlocks" (click)="popUpUnlocks()">UNLOCKS</div>
      </div>
      <div class="carte">
        <input type="image" class="imageCarte" [attr.src]="server + 'icones/carte.png'" (click)="popUpUpgrades('NOTANGE')"/>
        <div class="nomCarte cashUpgrades" (click)="popUpUpgrades('NOTANGE')">CASH<br />UPGRADES</div>
        <div [matBadge]="badgeUpgrades | number" [matBadgeHidden]="badgeUpgrades == 0" matBadgeSize="large"></div>
      </div>
      <div class="carte">
        <input type="image" class="imageCarte" [attr.src]="server + 'icones/carte.png'" (click)="popUpUpgrades('ANGE')"/>
        <div class="nomCarte angelUpgrades" (click)="popUpUpgrades('ANGE')">ANGELS<br />UPGRADES</div>
        <div [matBadge]="badgeAngelUpgrades | number" [matBadgeHidden]="badgeAngelUpgrades == 0" matBadgeSize="large"></div>
      </div>
      <div class="carte">
        <input type="image" class="imageCarte2" [attr.src]="server + 'icones/carte.png'" (click)="popUpManagers()"/>
        <div class="nomCarte managers" (click)="popUpManagers()">MANAGERS</div>
        <div [matBadge]="badgeManagers | number" [matBadgeHidden]="badgeManagers == 0" matBadgeSize="large"></div>
      </div>
      <div class="carte">
        <input type="image" class="imageCarte2" [attr.src]="server + 'icones/carte.png'" (click)="popUpInvestors()"/>
        <div class="nomCarte investors" (click)="popUpInvestors()">INVESTORS</div>
      </div>
    </div>
    <div class="product">
        <app-product *ngFor="let product of world.products" [product]="product" [world]="world" [money]="world.money" [qtmulti]="qtmulti"
          (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)" class="product col-md-6"></app-product>
    </div>
  </div>
</div>
<div class="error" *ngIf="!server && tempsEcoule">
  <div>
    <img src="/assets/error.png" class="errorLogo"/>
  </div>
  <div>
    <h1>&nbsp;Un problème est survenu lors de la transmission d’informations entre le client et le serveur</h1>
  </div>
</div>