.header {
    align-items: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.logo {
    cursor: pointer;
    text-align: center;
}

/*.logoName {
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.7);
    border-radius: 20px;
    display: inline;
    font-family: 'Julius Sans One', 'sans-serif';
    font-size: medium;
    font-weight: 700;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-backdrop-filter: blur(15px);
}*/

.money span {
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.7);
    border: 2px solid #003B6F;
    border-radius: 30px;
    display: inline;
    font-family: 'Julius Sans One', 'sans-serif';
    font-size: x-large;
    font-weight: 700;
    padding: 15px;
    -webkit-backdrop-filter: blur(15px);
}

.profilUsername {
    display: inline-flex;
}

.profile {
    bottom: 8px;
    height: 70px;
    position: relative;
    right: 15px;
}

.main {
    display: grid;
    grid-template-columns: 15% 85%;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
}

.buttons div {
    display: block;
}

.mat-badge {
    background: #003B6F;
    bottom: 110px;
    color: #FFFFFF;
}

.product {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 0.2fr);
    justify-items: center;
}

mat-card {
    display: inline-block;
}

.button {
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.button:hover {
    transform: rotate(-15deg) scale(1.2);
}

.imageButton {
    height: 115px;
}

.imageButton2 {
    height: 125px;
}

.nameButton {
    background-clip: text;
    background-image: linear-gradient(60deg, #000000, #6e3230);
    color: transparent;
    cursor: pointer;
    font-family: 'Gugi', 'sans-serif';
    font-size: large;
    font-weight: 700;
    position: absolute;
    text-align: center;
}

.unlocks {
    bottom: 48px;
    left: 12px;
}

.cashUpgrades {
    bottom: 36px;
    left: 8px;
}

.angelUpgrades {
    bottom: 35px;
    left: 8px;
}

.managers {
    bottom: 54px;
    left: 8px;
}

.investors {
    bottom: 54px;
    left: 9px;
}

.error {
    height: 266.567px;
    left: 50%;
    margin-left: -469.05px;
    margin-top: -133.2835px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 938.1px;
}

.errorLogo {
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 1295px)
{
    .product {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 0.1fr);
        justify-items: center;
    }
}