@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

html, body {
    background-image: url('http://localhost:4000/icones/gallifreyan.jpg');
    background-size: cover;
    height: 100%;
    margin: 0px;
    width: 100%;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

.round {
    border-radius: 50%;
    object-fit: contain;
    height: 115px;
    width: 115px;
}

button[mat-fab][extended] {
    background-color: #2B9AC3;
    color: black;
    text-align: left;
}

button[mat-fab][extended]:disabled {
    background-color: gray;
    color: black;
    text-align: left;
}

.mat-mdc-dialog-container .mdc-dialog__title {
    font-family: 'Julius Sans One', 'sans-serif' !important;
    font-size: x-large !important;
    font-weight: 700 !important;
    margin-bottom: 5px;
    text-align: center;
}

h1 {
    font-family: 'Julius Sans One', 'sans-serif' !important;
    font-size: x-large !important;
    font-weight: 700 !important;
}

.mat-mdc-dialog-container .mdc-dialog__content {
    color: #000000 !important;
    margin-top: 20px;
}

.popUp {
    background: #808080;
}

.layout {
    text-align: center;
}

.name {
    margin-bottom: 10px;
}