<div class="popUp">
    <h1 mat-dialog-title>À propos du jeu</h1>
    <mat-dialog-content>
        <mat-divider></mat-divider>
        <h2>"ISIS Capitalist" Version 1</h2>
        <h2>Par Aurore BIADOS</h2>
        <mat-divider></mat-divider>
        <br />
        Ce jeu a été développé suite à un projet dans le cadre du cours sur les architectures orientées services. L’objectif de ce projet est de programmer un jeu vidéo calqué sur les mécanismes du jeu <code>free to play</code> "Adventure Capitalist" de la société "Kongregate".
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Fermer</button>
    </mat-dialog-actions>
</div>