.carte {
    height: 147px;
    transition: background-color 0.3s ease-in-out;
    width: 518px;
    --mdc-elevated-card-container-color: none; 
}

.carte:hover {
    background-color:rgb(110, 50, 48, 0.5);
}

::ng-deep .carteProduct {
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(15px);
}

.product {
    display: grid;
    grid-template-columns: 30% 70%;
}

.lesDeux {
    align-items: center;
    position: relative;
}

.lePremier button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.leSecond {
    bottom: 10px;
    left: 20px;
    position: absolute;
}

.mat-badge-content {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
}

.right {
    align-content: space-evenly;
    display: grid;
}

.progressValue {
    position: relative;
}

.valueScore {
    padding-left: 50%;
    padding-top: 3px;
    position: absolute;
}

.bas {
    display: grid;
    grid-template-columns: 80% 20%;
    padding-right: 30px;
    padding-top: 20px;
}

.buy {
    display: block;
    margin-right: 20px;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.inButton {
    display: grid;
    grid-template-columns: 50% 50%;
}

.firstInButton {
    display:flex;
    margin: auto;
}

.secondInButton {
    margin-left: auto;
    margin-top: auto;
}

.carteTimeLeft {
    background: rgba(255, 255, 255, 0.8);
    width: 90px;
}

.timeLeft {
    display: inline-block;
    text-align: center;
}

.timeLeft div {
    text-align: center;
}