<div class="label" *ngIf="!_product.unlocked && _product != _world.products[0]">
    <input type="image" [attr.src]="server + 'icones/' + labelLien + '.png'" id="labelImage" [disabled]="LabelDisabled" (click)="_product.unlocked = true"/>
    <label class="labelName" for="labelImage">
        {{ _product.name }}
        <mat-divider></mat-divider>
        {{ _product.revenu | currency: 'EUR': 'symbol' }}
    </label>
</div>
<mat-card class="carte" id="carte" *ngIf="_product.unlocked || _product == _world.products[0]">
    <mat-card-content class="carteProduct">
        <div class="product">
            <div class="lesDeux">
                <div class="lePremier">
                    <button class="round" (click)="clickIcon()" [disabled]="_product.timeleft > 0">
                        <img [attr.src]="server + _product.logo" class="round"/>
                    </button>
                </div>
                <div class="leSecond">
                    <div [matBadge]="_product.quantite | number" matBadgeSize="large"></div>
                </div>
            </div>
            <div class="right">
                <div class="progressValue">
                    <div>
                        <app-my-progress-bar [run]="run" [auto]="auto" [vitesse]="_product.vitesse"
                            [initialValue]="progressBarValue"></app-my-progress-bar>
                    </div>
                    <div class="valueScore">
                        {{ _product.revenu * _product.quantite | number }}
                    </div>
                </div>
                <div class="bas">
                    <button mat-fab extended class="buy" (click)="buyProduct()"
                        [disabled]="_world.money < calcTotalCost() || _world.money == 0">
                        <div class="inButton">
                            <div class="firstInButton">
                                <mat-icon>add_shopping_cart</mat-icon>
                                Acheter<br />x {{ calcMaxCanBuy() | number }}
                            </div>
                            <div class="secondInButton">
                                {{ calcTotalCost() | currency: 'EUR': 'symbol' }}
                            </div>
                        </div>
                    </button>
                    <mat-card class="carteTimeLeft">
                        <mat-card-content class="timeLeft">
                            <div>{{ _product.timeleft | date: 'mm:ss:SS' }}</div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>